.navbar{
    font-size: $s-size;
    display: flex;
    background-color: #E8E8E8;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px grey;
}

.navbar__title{
    margin: 1rem;
    font-family: $BalooChettan;
}

.navbar__ul{
    display:inline;
    margin: 1rem;
    list-style-type: none;
}

.ul__li{
    float: left;
    align-self: center;
    margin: 1rem;
}
