@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan:400');

// Globals
$headerHeight: 8.3rem;
$headerHeightMobile: 5.5rem;
$footerHeight: 6rem;
$footerHeightMobile: 4rem;

// Colors
$white: #ffffff;
$yellow_mindera: #ffd101;
$lightest_grey: #f8f8f8;
$light_grey: #c4c4c4;

//Fonts
$BalooChettan: 'Baloo Chettan', sans-serif;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.6rem;
$m-size: 2.5rem;
$l-size: 3.2rem;
$xl-size: 4rem;
$desktop-breakpoint: 45rem;
$large-desktop-breakpoint: 75rem;